* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
body {
  position: relative;
  background: #ffe600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  animation: all 0.3s;
  
}
.eye,.eye::before,.eye-left,
.eye-right,#nose,.upperLip,.upperLip::before,
.upperLip::after,.lowerLip-wrapper,.lowerLip,
.face,.face-left,.face-right,.eye::before{
   transition: all 1s; 
}
.faceWrapper {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.process {
  position: relative;
  width: 240px;
  height: 8px;
  border-radius: 4px;
  background: #ffe600;
  border: 2px solid black;
  margin: 0 12px;
}
#innerBar {
  height: 100%;
  width: 0;
  background: #FF0000;
}
#container {
  height: 300px;
  width: 460px;
  position: relative;
}
#control {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#control .icon {
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: black;
  overflow: hidden;
}
#pause {
  display: none;
}
#play:hover,
#pause:hover,
#replay:hover {
  cursor: pointer;
}
.replay {
  animation: replay 1s;
}
@keyframes replay {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#nose:hover {
  animation: 0.1s shake 0s infinite alternate;
}

@keyframes shake {
  0% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(3deg);
  }
}
@keyframes whiteInEye {
  0% {
    top: 0px;
    left: 5px;
  }
  50% {
    top: 0;
    left: 6px;
  }
  100% {
    top: 0px;
    left: 7px;
  }
}
